html {
    display: flex;
    font-size: 70px;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
}

#full-calculator {
    display: flex; 
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;;
}

#display {
    background-color: #C0C0C0;
    text-align: right;
    height: 70px;
    margin: 20px;
    max-width: 392px;
}


.main-buttons, .number, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-buttons {
    flex-direction: column;
}

#button-row-one, #button-row-two, #button-row-three, #button-row-four, #button-row-five {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    border-radius: 20px;
}

.number, .operator {
    height: 90px;
    width: 90px;
    margin: 4px;
    font-size: 70px;
}

.number {
    background-color: black;
    color: white;
}

.operator {
    background-color: orange;
}

#clear, #delete {
    display: flex;
    height: 90px;
    width: 190px;
    font-size: 70px;
    margin: 4px;
    background-color: #e60000;
    text-align: center;
    margin-bottom: 20px;
}

